

.list-group a:hover{
    background-color: blue;
    color: white;
}
/* Add these styles to your CSS or inline styles */
.shifted-navbar {
    margin-left: 240px; /* Adjust the margin as needed */
  }
  
  .clickable-card {
    cursor: pointer;
  }
  
  .gradient-card {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  